.container{
    display: flex;
    align-items: center;
    flex-direction: column;

    .front, .text_column, .div_buttons{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .front{
        margin-top: 100px;
        width: 70vw;

        .text_column{
            flex-direction: column;
            align-items: flex-start;
            
            .text{
                font-size: 27px;
                
                .name{
                    display: block;
                    color: var(--green);
                    border-right: var(--green) 4px solid;
                    font-size: 32px;
                    font-weight: bold;
                    animation: console 0.6s 4s infinite steps(2, jump-none), typing 3s steps(18, jump-none) 0.5s normal both;
                    white-space: nowrap;
                    overflow: hidden;
                }

                @keyframes console{
                    from{
                        border-right: var(--green) 4px solid;
                    }
                    to{
                        border-right: transparent 4px solid;
                    }
                }
                
                @keyframes typing{
                    from{
                        width: 0;
                    }
                    to{
                        width: 298px;
                    }
                }
            }

            .subtitle{
                color: #b1b1b1;
                font-size: 18px;
                font-weight: normal;
                margin: 5px 0;
            }

            .div_buttons{
                margin-top: 10px;
                gap: 30px;

                .btn{
                    width: max-content;
                    padding: 10px 15px;
                    text-decoration: none;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    font-family: 'Share Tech Mono', monospace;
                    border: 2px solid transparent;
                    cursor: pointer;
                }
                
                .linkedin{
                    color: black;
                    background-color: var(--green);
                    transition: 300ms ease-in-out;

                    &:hover{
                        color: white;
                        background-color: #00b634;
                    }
                    
                }

                .contato{
                    color: white;
                    background-color: #212121;
                    border: 2px solid transparent;
                    transition: 300ms ease-in-out;

                    &:hover{
                        border: 2px solid #bbbbbb;
                    }
                }
            }
        }

        .self{
            width: 300px;
            height: 300px;
            object-fit: cover;
            border: var(--green) 3px solid;
            border-radius: 100%;
            animation: opacity 0.8s normal;
        }
        @keyframes opacity{
            from{
                transform: scale(0.8);
                filter: opacity(0);
            }
            to{
                transform: scale(1);
                filter: opacity(1);
            }
        }
        @media(max-width: 750px){
            .self{
                display: none;
            }
        }
    }
    @media(max-width: 1100px){
        .front{
            flex-direction: column-reverse;
            gap: 50px;
        }
    }
    @media(max-width: 450px){
    
        .text{
            font-size: 22px;
        }
        .name{
            color: var(--green);
            font-size: 26px;
            font-weight: bold;
        }
        .btn{
            padding: 10px 7px;
            font-size: 17px;
        }
        @keyframes typing{
            from{
                width: 0;
            }
            to{
                width: 243px;
            }
        }
    }

    .about{
        text-align: center;
        width: 60%;
        padding-top: 100px;

        .about_title{
            color: #00fa47;
            font-size: 28px;
        }
        .about_text{
            font-weight: normal;
            font-size: 17px;
            margin-top: 10px;
            text-align: justify;
            line-height: 30px
        }
    }
    @media(max-width: 800px){
        .about{
            width: 80%;
        }
    }
    
    .info{
        padding-top: 150px;

        .info_div{    
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width: 80vw;
            text-align: center;
            gap: 20px;
            margin-bottom: 50px;

            .info_link{
                width: max-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                text-decoration: none;
                padding: 20px;
                
                .svg_info{
                    width: 50px;
                    height: 50px;
                    transition: 150ms ease-in-out;
                }

                &:hover .svg_info{
                    transform: scale(1.2);
                }
            }
        }

        .info_header{
            margin-bottom: 20px;
            text-align: center;
            font-size: 28px;
        }
    }

    .projects{
        padding-top: 100px;
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .projects_title{
            width: 100%;
            text-align: center;
            font-size: 28px;
        }
        
        .project_div{
            width: 300px;
            height: max-content;
            display: block;
            text-align: center;
            text-decoration: none;
            background-color: var(--gray);
            transition: 150ms ease-in-out;
            
            .project_title{
                color: var(--green);
                font-size: 18px;
            }

            .project_tec{
                color: white;
                font-size: 14px;
            }
            
            .project_tec, .project_title{
                width: calc(100% - 20px);
                text-align: left;
                margin: 5px 0;
                margin-left: 10px;
                display: block;
            }
        }
        .project_div:hover{
            transform: scale(1.1);
        }
    }

    .skills{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 150px 0;

        .skill_title{
            font-size: 28px;
            margin-top: 50px;
            margin-bottom: 10px;
        }

        .skills_div{
            width: 70%;
            height: max-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;

            .skill_card{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                margin: 5px;
                transition: 150ms ease-in-out;
                cursor: pointer;

                &:hover{
                    transform: scale(1.1);
                }

                .skill_img{
                    height: 35px;
                    max-height: 90px;
                    margin: 5px;
                }
            }
        }
        @media(max-width: 600px){
            .skills_div{
                width: 85%;
            }
        }
    }
}
